body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'merriweather', serif;
}
hr{
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 10%;
margin: 75px auto;
}
h1 {
  color: #AA8976;
  margin: 20px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'sacramento', cursive;
  line-height: 2;
}

h2{
  font-family: 'montserrat', sans-serif;
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: normal;
  color: #AA8976;
}
h3{
  font-family: 'montserrat', sans-serif;
  color: #C2B092;
}

p{
  line-height: 2;
}

a{
  color: #AA8976;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #966C3B;
}


.intro{
  width: 30%;
  margin: auto;
}
.top-container{
  background-color: #FCF8E8;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px auto;
}

.bottom-container{
  background-color: #FCF8E8;
  padding: 50px 0 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.aggiepic{
  height: 150px;
  width: 150px;
}

.sewing-machine{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.billboard{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-me{
  width: 55%;
  margin: auto;
  margin-bottom: 20px;
}

.copyright{
  font-size: 0.75rem;
  padding: 10px 0;
}


.btn {
  background: #fac937;
  background-image: -webkit-linear-gradient(top, #fac937, #856618);
  background-image: -moz-linear-gradient(top, #fac937, #856618);
  background-image: -ms-linear-gradient(top, #fac937, #856618);
  background-image: -o-linear-gradient(top, #fac937, #856618);
  background-image: linear-gradient(to bottom, #fac937, #856618);
  -webkit-border-radius: 80;
  -moz-border-radius: 80;
  border-radius: 80px;
  font-family: 'montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #dede09;
  background-image: -webkit-linear-gradient(top, #dede09, #f5ce0a);
  background-image: -moz-linear-gradient(top, #dede09, #f5ce0a);
  background-image: -ms-linear-gradient(top, #dede09, #f5ce0a);
  background-image: -o-linear-gradient(top, #dede09, #f5ce0a);
  background-image: linear-gradient(to bottom, #dede09, #f5ce0a);
  text-decoration: none;
}
